:root {
    --white: #fff;
    --black: black;
    --blue: #3772FF;
    --grey: #ececed;
}

body {
    background-color: var(--white);
    display: grid;
    height: 100vh;
    margin: 0;
    grid-template-rows: 0.5fr 5fr 0.5fr;
    font-family: 'Inter';
    box-sizing: border-box;
}

.header, .footer {
    display: flex;
    align-items: center;
    padding: 2vh 1vw;
}

.header {
    justify-content: space-between;
}

.title {
    font-weight: 800;
    font-size: 1.5rem;
}

.lib {
    color: var(--blue);
}

.add_book {
    border-radius: 50px;
    padding: 7px 14px;
    border: 0;
    background-color: var(--grey);
    color: var(--black);
    cursor: pointer;
    font-weight: 900;
    font-size: 1.1rem;
}

.add_book:hover {
    background-color: var(--blue);
    color: var(--white);
    transition: 0.3s;
}

.content {
    display: flex;
    gap: 2vh;
    flex-wrap: wrap;
    padding: 4vh;
    background-color: var(--grey);
    justify-content: center;
    align-items: center;
}

.card {
    height: 38vh;
    width: 22%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-wrap: wrap;
    font-weight: 300;
    padding: 0 1vw;
}

.buttons {
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    gap: 1vw;
}

.delete, .toggle_status {
    border: 0;
    padding: 1vh 1vw;
    font-size: 1.3vw;
    cursor: pointer;
}

.card:hover {
    background-color: var(--blue);
    color: var(--white);
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
    /* border: 1px solid var(--blue); */
    transition: 0.5s;

    .delete, .toggle_status {
        background-color: var(--white);
        color: var(--blue);
    }
}

@media (min-width: 0px) {
    .card > * { font-size: 0.5rem; }
  }
@media (min-width: 700px) {
    .card > * { font-size: 0.8rem; }
  }
@media (min-width: 1001px){
    .card > * { font-size: 1.1rem; }
}

.footer {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.footer a {
    text-decoration: none;
    color: var(--black)
}

fieldset {
    border: 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    font-weight: 500;
    padding: 2vh 1vh;
    font-size: 0.9rem;
}

.footer img {
    height: 25px;
    width: 25px;
}

.input_title, .input_author, .input_pages {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

legend {
    font-weight: 700;
    padding: 0;
}

input {
    background-color: var(--grey);
    border: 0;
    padding: 1vh 1vh;
    outline: none;
}

.add {
    margin-top: 2vh;
    background-color: var(--grey);
    border: 0;
    font-weight: 500;
    padding: 1vh 2vh;
    font-family: 'Inter';
}
.add:hover {
    background-color: var(--blue);
    color: var(--white);
    transition: 0.5s;
    cursor: pointer;
}

::backdrop {
    background-color: black;
    opacity: 0.75;
  }